<div class="pxer-foot">
    <div class="container">
        <p>
            Copyright &copy; 2014-2019
            <a href="http://pxer.pea3nut.org/" target="_blank" class="icp-link">pea3nut.org</a>
            by <a href="http://pea3nut.info/" target="_blank" class="icp-link">pea3nut(花生PeA)</a>
        </p>
        <p>
            Edit <a href="https://github.com/pea3nut/pxer-homepage-2" target="_blank" class="icp-link">this page</a> on Github. View the <a href="https://github.com/FoXZilla/Pxer" target="_blank" class="icp-link">Pxer source code</a>.
        </p>
    </div>
</div>

<script src="https://point.pea3nut.org/sdk/1.0/browser.js"></script>
<script>
    (function () {
        let uid = localStorage.getItem('pxer_uid');
        if (!uid) {
            uid = Number(Math.random().toString().split('.')[1]).toString(36);
            localStorage.setItem('pxer_homepage_uid', uid);
        }

        const eventSender = new EventSender('https://point.pea3nut.org/events', {
            uid,
            app_name: 'pxer-homepage',
            get referer() { return location.href; },
        });
        eventSender.setContent({
            lang: document.documentElement.lang,
        });
        eventSender.send('pv');
    })();
</script>
