<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/lib/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/lib/jquery/jquery.slim.min.js'></script>
    <script src='/lib/bootstrap/js/bootstrap.min.js'></script>
