<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= t('title') %></title>
    <link rel='stylesheet' href='/lib/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/lib/font-awesome/css/font-awesome.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/lib/jquery/jquery.slim.min.js'></script>
    <script src='/lib/bootstrap/js/bootstrap.min.js'></script>
    <script src='/javascripts/cookies.js'></script>
    <script src='/javascripts/global.js'></script>